USE [master]
GO
/****** Object:  Database [OrganisationOfPublicTransport]    Script Date: 25/05/2022 17:08:00 ******/
CREATE DATABASE [OrganisationOfPublicTransport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Organisation Of Public Transport', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Organisation Of Public Transport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Organisation Of Public Transport_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Organisation Of Public Transport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrganisationOfPublicTransport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrganisationOfPublicTransport]
GO
/****** Object:  Schema [schema_v0.1]    Script Date: 25/05/2022 17:08:00 ******/
CREATE SCHEMA [schema_v0.1]
GO
/****** Object:  Table [dbo].[AdminsShift]    Script Date: 25/05/2022 17:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminsShift](
	[ShiftId] [int] NOT NULL,
	[ShiftUsername] [nvarchar](50) NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[HashedPassword] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 25/05/2022 17:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[BusId] [int] NOT NULL,
	[BusName] [nvarchar](50) NOT NULL,
	[CurrentRouteId] [int] NULL,
	[CurrentTerminalId] [int] NULL,
	[Broken] [bit] NOT NULL,
	[Charging] [bit] NOT NULL,
	[Battery] [int] NOT NULL,
	[Delay] [int] NOT NULL,
 CONSTRAINT [PK_Bus] PRIMARY KEY CLUSTERED 
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 25/05/2022 17:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteId] [int] NOT NULL,
	[RouteName] [nvarchar](50) NOT NULL,
	[RouteDuration] [time](7) NOT NULL,
	[BatteryUsage] [int] NOT NULL,
	[StartTerminalId] [int] NOT NULL,
	[DestinationTerminalId] [int] NOT NULL,
	[StartIntervals] [time](7) NOT NULL,
 CONSTRAINT [PK_Routes] PRIMARY KEY CLUSTERED 
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift.Bus.Activity]    Script Date: 25/05/2022 17:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift.Bus.Activity](
	[Id] [int] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[BusId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Shift.Bus.Activity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terminals]    Script Date: 25/05/2022 17:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terminals](
	[Id] [int] NOT NULL,
	[TerminalName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Terminals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AdminsShift] ([ShiftId], [ShiftUsername], [Salt], [HashedPassword]) VALUES (1, N'Shift1', N'213213', N'sHCBRyHIdPNq3bOXbxbzpQ==')
INSERT [dbo].[AdminsShift] ([ShiftId], [ShiftUsername], [Salt], [HashedPassword]) VALUES (2, N'Shift2', N'123213', N'oK0kVMoVbc+51T3o3IXltw==')
GO
INSERT [dbo].[Bus] ([BusId], [BusName], [CurrentRouteId], [CurrentTerminalId], [Broken], [Charging], [Battery], [Delay]) VALUES (1, N'bus1', NULL, 1, 0, 0, 100, 0)
INSERT [dbo].[Bus] ([BusId], [BusName], [CurrentRouteId], [CurrentTerminalId], [Broken], [Charging], [Battery], [Delay]) VALUES (2, N'bus2', NULL, 1, 1, 0, 100, 0)
INSERT [dbo].[Bus] ([BusId], [BusName], [CurrentRouteId], [CurrentTerminalId], [Broken], [Charging], [Battery], [Delay]) VALUES (3, N'bus3', NULL, 1, 0, 0, 100, 0)
GO
INSERT [dbo].[Routes] ([RouteId], [RouteName], [RouteDuration], [BatteryUsage], [StartTerminalId], [DestinationTerminalId], [StartIntervals]) VALUES (1, N'1_TO_2', CAST(N'01:30:00' AS Time), 50, 1, 2, CAST(N'00:20:00' AS Time))
INSERT [dbo].[Routes] ([RouteId], [RouteName], [RouteDuration], [BatteryUsage], [StartTerminalId], [DestinationTerminalId], [StartIntervals]) VALUES (2, N'1_TO_3', CAST(N'00:30:00' AS Time), 20, 1, 3, CAST(N'00:10:00' AS Time))
INSERT [dbo].[Routes] ([RouteId], [RouteName], [RouteDuration], [BatteryUsage], [StartTerminalId], [DestinationTerminalId], [StartIntervals]) VALUES (3, N'2_TO_1', CAST(N'01:30:00' AS Time), 50, 2, 1, CAST(N'00:20:00' AS Time))
GO
INSERT [dbo].[Terminals] ([Id], [TerminalName]) VALUES (1, N'terminal1')
INSERT [dbo].[Terminals] ([Id], [TerminalName]) VALUES (2, N'terminal2')
INSERT [dbo].[Terminals] ([Id], [TerminalName]) VALUES (3, N'terminal3')
GO
ALTER TABLE [dbo].[Bus]  WITH CHECK ADD  CONSTRAINT [FK_Bus_Routes] FOREIGN KEY([CurrentRouteId])
REFERENCES [dbo].[Routes] ([RouteId])
GO
ALTER TABLE [dbo].[Bus] CHECK CONSTRAINT [FK_Bus_Routes]
GO
ALTER TABLE [dbo].[Bus]  WITH CHECK ADD  CONSTRAINT [FK_Bus_Terminals] FOREIGN KEY([CurrentTerminalId])
REFERENCES [dbo].[Terminals] ([Id])
GO
ALTER TABLE [dbo].[Bus] CHECK CONSTRAINT [FK_Bus_Terminals]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Routes_Terminals] FOREIGN KEY([DestinationTerminalId])
REFERENCES [dbo].[Terminals] ([Id])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Routes_Terminals]
GO
ALTER TABLE [dbo].[Shift.Bus.Activity]  WITH CHECK ADD  CONSTRAINT [FK_Administrator activity_Administrator] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[AdminsShift] ([ShiftId])
GO
ALTER TABLE [dbo].[Shift.Bus.Activity] CHECK CONSTRAINT [FK_Administrator activity_Administrator]
GO
ALTER TABLE [dbo].[Shift.Bus.Activity]  WITH CHECK ADD  CONSTRAINT [FK_Shift.Bus.Activity_Bus] FOREIGN KEY([BusId])
REFERENCES [dbo].[Bus] ([BusId])
GO
ALTER TABLE [dbo].[Shift.Bus.Activity] CHECK CONSTRAINT [FK_Shift.Bus.Activity_Bus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Might use Change Data Capture' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdminsShift'
GO
USE [master]
GO
